a.btn-floating {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 800;
}

.btn-large.btn-floating {
  height: 6rem;
  width: 6rem;
}

#pause-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pause-btn i {
  font-size: 4rem;
}

.red.darken-3#pause-btn:hover {
  background-color: #e53935 !important;
}

.red.darken-3#pause-btn: {
  background-color: #e53935 !important;
}

/* HEADER */
header {
  height: 6rem;
  height: 90px;
  width: 100%;
  border-radius: 5px;
  opacity: 0;
  position: fixed;
  background: #00bcd4;
  z-index: 600;
  padding-left: 19rem;
}

header nav {
  background-color: inherit;
  box-shadow: 0 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tracking-controls {
  width: 420px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.checkbox-controls {
  width: 400px;
  display: flex;
}

.controls-container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  padding-top: 10px;
  border-bottom: 1px solid black;
  /*margin-right: 3rem;*/
}


.controls-container .btn {
  border-radius: 50%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-container i {
  font-size: 3rem !important;
  color: black !important;
  border-radius: 50% !important;
}

.controls-container i:hover {
  font-size: 3rem !important;
  color: #444 !important;
}

.controls-container p {
  font-size: 1.1rem;
}

/* HGROUP */
hgroup {
  position: fixed;
  top: 8px;
  left: 16px;
  z-index: 900;
}

hgroup h3 {
  /*color: white;*/
  margin-top: 0;
  margin-bottom: 0;
}

/* Checkbox container */
input[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #ff9800;
     background-color: #e53935;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  margin-left: 0px;
}

.checkbox-container label {
  color: #fff;
}

.dimmer-container {
  margin-left: 34px;
}


/* Toggle Menu Button */
.menu-toggle {
  position: fixed;
  top: -12px;
  right: 155px;
  padding: 0.5rem;
  background: #b71c1c;
  color: #fff;
  border-radius: 0 0 9px 9px;
  z-index: 900;
  width: 9rem;
  font-size: 0.9rem;
  padding-top: 15px;
  padding-bottom: 0.5px;
  border-top: 0;
  height: 35px;
}

#favorite-preset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.favorite-container {
  height: 100%;
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

@media screen and (max-width: 1200px) {
  header {
    padding-left: 17rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 91px;
  }
}

@media screen and (max-width: 1090px) {
  .controls-container p {
    font-size: 0.9rem;
  }
  .controls-container i {
    font-size: 1.8rem !important;
  }
  .controls-container {
    width: 20%;
    border-bottom: 0;
  }
  .tracking-controls {
    justify-content: space-around;
    width: 320px;
  }
  header {
    padding-left: 16rem;
  }
  header nav {
    justify-content: space-between;
  }
  .checkbox-controls {
    position: absolute;
    bottom: 4px;
    left: 33%;
  }
}

@media screen and (max-width: 715px) {
  header {
    padding-left: 14rem;
  }
  .controls-container p.select-text {
    display: none;
  }
  hgroup h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 590px) {
  #pattern-select-container {
    margin-left: -95px;
  }
}

@media screen and (max-width: 560px) {
  header nav {
    padding-right: 1rem;
  }
  .tracking-controls {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%;
  }
  #pattern-select-container {
    margin-left: 0;
  }
  .checkbox-controls {
    left: 5%;
  }
}

@media screen and (max-width: 480px) {

  header nav {
    /*justify-content: space-around;*/
  }
}
