a.btn-floating {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 800;
}

.btn-large.btn-floating {
  height: 6rem;
  width: 6rem;
}

#pause-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pause-btn i {
  font-size: 4rem;
}

.red.darken-3#pause-btn:hover {
  background-color: #e53935 !important;
}

.red.darken-3#pause-btn: {
  background-color: #e53935 !important;
}

/* HEADER */
header {
  height: 6rem;
  width: 100%;
  border-radius: 5px;
  opacity: 0;
  position: fixed;
  background: #00bcd4;
  z-index: 600;
  padding-left: 19rem;
}

header nav {
  background-color: inherit;
  box-shadow: 0 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls-container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  padding-top: 10px;
  border-bottom: 1px solid black;
  margin-right: 3rem;
}

.controls-container label {
  color: white;
}

.controls-container .btn {
  border-radius: 50%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-container i {
  font-size: 3rem !important;
  color: black !important;
  border-radius: 50% !important;
}

.controls-container i:hover {
  font-size: 3rem !important;
  color: #444 !important;
}

.controls-container p {
  font-size: 1.1rem;
}

/* HGROUP */
hgroup {
  position: fixed;
  top: 8px;
  left: 16px;
  z-index: 900;
}

hgroup h3 {
  /*color: white;*/
  margin-top: 0;
  margin-bottom: 0;
}

/* Checkbox container */
input[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #ff9800;
     background-color: #e53935;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  margin-left: 0px;
}

.checkbox-container label {
  color: #fff;
}

.dimmer-container {
  margin-left: 34px;
}


/* Toggle Menu Button */
.menu-toggle {
  position: fixed;
  top: -12px;
  /*left: 43%;*/
  right: 155px;
  padding: 0.5rem;
  background: #b71c1c;
  color: #fff;
  border-radius: 0 0 9px 9px;
  z-index: 900;
  width: 9rem;
  font-size: 0.9rem;
  padding-top: 15px;
  padding-bottom: 0.5px;
  border-top: 0;
}

#favorite-preset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-right: 45px;
}
